* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background: linear-gradient(135deg, #111827, #1e293b);

    font-family: Arial, sans-serif;

    color: white;

    padding: 20px;
}

.calculadora {
    width: 100%;
    max-width: 390px;

    background: #111827;

    padding: 22px;

    border-radius: 28px;

    box-shadow:
        0 25px 60px rgba(0, 0, 0, 0.5);

    border: 1px solid #374151;
}

.encabezado {
    text-align: center;
    margin-bottom: 18px;
}

.encabezado h1 {
    font-size: 27px;
    margin-bottom: 5px;
}

.encabezado p {
    color: #94a3b8;
    font-size: 14px;
}

.pantalla {
    background: #020617;

    border-radius: 18px;

    padding: 15px;

    margin-bottom: 18px;

    border: 1px solid #334155;
}

#operacionAnterior {
    height: 22px;

    text-align: right;

    color: #64748b;

    font-size: 14px;

    overflow: hidden;
}

#pantalla {
    width: 100%;

    border: none;

    outline: none;

    background: transparent;

    color: white;

    text-align: right;

    font-size: 42px;

    font-weight: bold;
}

.botones {
    display: grid;

    grid-template-columns: repeat(4, 1fr);

    gap: 10px;
}

button {
    height: 65px;

    border: none;

    border-radius: 17px;

    background: #334155;

    color: white;

    font-size: 23px;

    font-weight: bold;

    cursor: pointer;

    transition:
        transform 0.08s,
        background 0.15s;
}

button:hover {
    background: #475569;
}

button:active {
    transform: scale(0.91);
}

.operador {
    background: #2563eb;
}

.operador:hover {
    background: #3b82f6;
}

.especial {
    background: #475569;
}

.especial:hover {
    background: #64748b;
}

.igual {
    grid-column: span 4;

    background: #16a34a;

    font-size: 27px;
}

.igual:hover {
    background: #22c55e;
}

.cero {
    grid-column: span 2;
}

footer {
    text-align: center;

    color: #64748b;

    font-size: 12px;

    margin-top: 18px;
}

.mensaje-secreto {
    margin-top: 18px;

    padding: 12px;

    text-align: center;

    color: #94a3b8;

    font-size: 12px;

    line-height: 1.5;

    border-top: 1px solid #334155;
}

@media (max-width: 430px) {

    .calculadora {
        padding: 16px;

        border-radius: 23px;
    }

    button {
        height: 60px;

        border-radius: 15px;
    }

    #pantalla {
        font-size: 35px;
    }
}